.App {
  text-align: center;
  font-family: 'laski-slab';
  background-color: #912F2F;
  color: #efebdd;
}

.Tab {
  background-color: #912F2F;
  cursor: pointer;
}

.nav-link {
  font-size: 40px;
  color: #efebdd;
}

.nav-link:hover {
  font-weight: 500;
  color: #efebdd;
}

.nav-link.active {
  font-size: 42px;
  font-weight: 700;
  color: #efebdd;
}

.Header p {
  font-size: 20px;
  color: #C0C6CC;
}

.Header h1 {
  font-size: 60px;
  color: #efebdd;
}

.Body {
  min-height: 100vh;
}

h2 {
  font-size: 30px;
  color: #efebdd;
  font-weight: 700;
}

p {
  font-size: 18px;
  color: #efebdd;
}

.Header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}


.Education-block h3 {
  font-size: 22px;
  color: #efebdd;
}

.Education-block h4 {
  font-family: 'laski-slab-thin';
  font-size: 18px;
  color: #efebdd;
}

.Education-block h5 {
  font-family: 'laski-slab-thin';
  font-size: 12px;
  color: #efebdd;
}

.General-block h2 {
  /*margin-bottom: -2%;*/
}

.Paragraph-block p {
  /*margin-bottom: -2%;*/
  margin: 0;
}

.Socials * {
  color: #efebdd;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
}

.Socials {
  left: 0;
  bottom: 10;
  margin-bottom: 10px;
  width: 100%;
  color: white;
  text-align: left;
}

.Socials a:hover {
  color: white;
}

.tab-content > .tab-pane {
  display:    block; /* undo "display: none;" */
  opacity:    0;
  position:   absolute;
  width:      calc(100% - 15em);
  transition: opacity .25s ease 0s;
}

.tab-content > .active {
  opacity: 100%;
}

/*
P. Mastrangelo & R. Espinoza Bold Italic

font-family: laski-slab, sans-serif;

font-weight: 700;

font-style: italic;


P. Mastrangelo & R. Espinoza ExtraLight Italic

font-family: laski-slab, sans-serif;

font-weight: 200;

font-style: italic;


P. Mastrangelo & R. Espinoza Black

font-family: laski-slab, sans-serif;

font-weight: 900;

font-style: normal;


P. Mastrangelo & R. Espinoza Light

font-family: laski-slab, sans-serif;

font-weight: 300;

font-style: normal;


P. Mastrangelo & R. Espinoza Book Italic

font-family: laski-slab, sans-serif;

font-weight: 400;

font-style: italic;


P. Mastrangelo & R. Espinoza Book

font-family: laski-slab, sans-serif;

font-weight: 400;

font-style: normal;


P. Mastrangelo & R. Espinoza Black Italic

font-family: laski-slab, sans-serif;

font-weight: 900;

font-style: italic;


P. Mastrangelo & R. Espinoza SemiBold Italic

font-family: laski-slab, sans-serif;

font-weight: 600;

font-style: italic;


P. Mastrangelo & R. Espinoza ExtraBold

font-family: laski-slab, sans-serif;

font-weight: 800;

font-style: normal;


P. Mastrangelo & R. Espinoza ExtraBold Italic

font-family: laski-slab, sans-serif;

font-weight: 800;

font-style: italic;


P. Mastrangelo & R. Espinoza ExtraLight

font-family: laski-slab, sans-serif;

font-weight: 200;

font-style: normal;


P. Mastrangelo & R. Espinoza Regular

font-family: laski-slab, sans-serif;

font-weight: 500;

font-style: normal;


P. Mastrangelo & R. Espinoza Bold

font-family: laski-slab, sans-serif;

font-weight: 700;

font-style: normal;


P. Mastrangelo & R. Espinoza Light Italic

font-family: laski-slab, sans-serif;

font-weight: 300;

font-style: italic;


P. Mastrangelo & R. Espinoza Regular Italic

font-family: laski-slab, sans-serif;

font-weight: 500;

font-style: italic;


P. Mastrangelo & R. Espinoza SemiBold

font-family: laski-slab, sans-serif;

font-weight: 600;

font-style: normal;


P. Mastrangelo & R. Espinoza Black Italic

font-family: laski-slab-stencil, sans-serif;

font-weight: 900;

font-style: italic;


P. Mastrangelo & R. Espinoza Black

font-family: laski-slab-stencil, sans-serif;

font-weight: 900;

font-style: normal;


P. Mastrangelo & R. Espinoza Thin

font-family: laski-slab-thin, sans-serif;

font-weight: 100;

font-style: normal;


P. Mastrangelo & R. Espinoza Thin Italic

font-family: laski-slab-thin, sans-serif;

font-weight: 100;

font-style: italic;
*/
